<div class = "container-fluid">
<form [formGroup] = "loginForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label class="remember-me">
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Sign in</button>
  </form>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Loading profile... </p>  
  </ngx-spinner> 
</div>