<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>TX VCC</h1>
                        <p>Transmission Network: Visualize Compute Change (TxVCC) is a web based application that
                            visualizes a network graph and provides a high level computation of each of the network
                            link's capacity utilization.</p>
                        <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>How to use it</h1>
                        <p>You only need 3 list of entities to use the application: the sites, links, and services</p>
                        <p><a class="btn btn-lg btn-success" href="/help" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Network Topologies</h1>
                        <p>The application supports different network topologies: bus, ring, star, tree, or their
                            combinations. The algoritm also supports networks with multiple homing nodes.</p>
                        <p><a class="btn btn-lg btn-success" pageScroll href="#visualize" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image class="vcc-image" xlink:href="assets/images/visualize.png" /></svg>
                <h2>Visualize</h2>
                <p>Create a network diagram in a few clicks</p>
                <p><a class="btn btn-secondary" pageScroll href="#visualize" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <image class="vcc-image" xlink:href="assets/images/compute.png" /></svg>
                <h2>Compute</h2>
                <p>Automate the network's utilization assessment</p>
                <p><a class="btn btn-secondary" pageScroll href="#compute" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <image class="vcc-image" xlink:href="assets/images/change.png" /></svg>
                <h2>Change</h2>
                <p>Propose data driven changes to the mobile backhaul network topology</p>
                <p><a class="btn btn-secondary" pageScroll href="#change" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider"  id="visualize">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Network Graph Visualization. <span class="text-muted">Connecting the
                        dots</span></h2>
                <p class="lead">TxVCC provides automatic visualization of different network topologies: ring, tree, bus,
                    star or their combinations. It uses the force-directed graph layout in the D3.JS library to create
                    the network graph simulations.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <image class="vcc-image" xlink:href="assets/images/visualization.png" /></svg>
            </div>
        </div>

        <hr class="featurette-divider" id="compute">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Network Capacity Utilization<span class="text-muted">. Understand your
                        network</span></h2>
                <p class="lead">The application runs a customized algorithm which assumes that the best path between the
                    services' node and their homing node is th shortest path. The path that requires the minimum number
                    of transmission link infrastructure.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <image class="vcc-image" xlink:href="assets/images/utilization.png" /></svg>
            </div>
        </div>

        <hr class="featurette-divider" id ="change">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Data Protection. <span class="text-muted">Usage, Security and
                        Confidentiality.</span></h2>
                <p class="lead">The user can download the result of the algoritmic computation to propose changes or
                    improvements in the network. Only the creators of the network can view, update, download or delete
                    their network's data.</p>

                <p class="lead">Each user has their password encrypted when they register. Upon login, each user is
                    given a token which allows them to access their data. This token is cleared out from the user's
                    computer when they log out.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <image class="vcc-image" xlink:href="assets/images/security.png" /></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>