<div class="container">
  <h2>Create A Network</h2>
  <div>
    <form [formGroup]="addNetworkForm" (ngSubmit)="onSubmit()">
      <div  class="form-group">
        <label for="networkName">Name</label>
        <input type="text" [formControlName]="'networkName'" class="form-control" id="networkName" required name="networkName"><br>
        <label for="description">Description</label>
        <input type="textarea" [formControlName]="'description'" class="form-control" id="description" required name="description">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>