<div class="container">
  <h3>Update Network</h3>
  <div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Your network has been successfully updated
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="networkName">Network Name</label>
        <input type="text" class="form-control" id="networkName" required [(ngModel)]="network.networkName"
          name="networkName"><br>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="network.description"
          name="description">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>