<div class="container">
    <div class="row home-details">
        <div class="col-7">
            <div class="container">
                <h2 class = "my-4">TxVCC for Mobile Backhaul Network</h2>
                <div class="row my-3">
                    <div class="col-2">
                        <h4><i class="fas fa-network-wired fa-2x mx-1 my-2"></i></h4>
                    </div>
                    <div class = "col-10">
                        <h4>Visualize</h4>
                        <p class = "lead">Create a network diagram in a minimum of 6 clicks</p> 
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-2">
                        <h4><i class="fas fa-calculator fa-2x mx-1 my-2"></i></h4>
                    </div>
                    <div class = "col-10">
                        <h4>Compute</h4>
                        <p class = "lead">Automate the network's utilization assessment</p> 
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-2">
                        <h4><i class="far fa-file-alt fa-2x mx-1 my-2"></i></h4>
                    </div>
                    <div class = "col-10">
                        <h4>Change</h4>
                        <p class = "lead">Propose data driven changes</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
                <app-register></app-register>
        </div>
    </div>
</div>