:host{
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #141e30, #243b55);    
    flex-grow: 1;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:host-context footer {
    background: #343a40;
}

.container {
    padding:auto;
}

.home-details{
    padding-top:60px;
    color:white;
}

h2{
    padding-top: 90px;
}

.fas, .far{
    color:#d9d9d9;
}