<div class="container-fluid  network-container">
  <div class="row">
    <div class="col-3 network-menu">
      <div class="container">
        <h2>{{ network.networkName }}</h2>
        <p>{{ network.description }}</p>
        
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nodesImport">Add Sites</label>
            <input type="file" class="form-control-file" id="nodesImport" (change)="onFileChange($event,uploadedNodes)"
              multiple='false'>
          </div>
          <div class="form-group">
            <label for="linksImport">Add Links</label>
            <input type="file" class="form-control-file" id="linksImport" (change)="onFileChange($event,uploadedLinks)"
              multiple='false'>
          </div>
          <div class="form-group">
            <label for="servicesImport">Add Services</label>
            <input type="file" class="form-control-file" id="servicesImport"
              (change)="onFileChange($event,uploadedServices)">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>

      </div>
    </div>
    <div class="col-9 network-graph">
      <svg></svg>
    </div>
  </div>
</div>