h1, h2, h3, h4, h5, p, label, table, button, input{
  font-family: 'Nunito', sans-serif;
}

h2{
  margin-top:20px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.container-fluid {
  padding: 56px 10px 0px 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: .875rem;
}

.network-menu {
  border-right: solid 1px #eeeeee;
}

/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

nav form{
  margin-left: 5px;
  padding: 10px;
}

nav .alert{
  line-height: 1;
}

nav label{
  font-weight: bold;
  font-size: 16px;
}

.upload-btn {
  width: 100% !important;
  padding-left:25px;
  padding-right:25px;
}