<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Add Network Elements</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span></span>
          </a>
        </h6>
        <form (ngSubmit)="onSubmit()" form-inline>
          <div *ngIf="!nodes.length" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>No node is found!</strong> Start uploading nodes/sites now.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <label for="nodesImport">Upload Sites</label>
            <input type="file" class="form-control-file" id="nodesImport" (change)="onFileChange($event,uploadedNodes)">
          </div>
          <hr>
          <!--ONLY SHOW ADD LINKS AND SERVICES IF SITES ALREADY EXISTS-->
          <div *ngIf="nodes.length>0">
            <div *ngIf="!links.length" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>No link is found!</strong> Start uploading links now.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group">
              <label for="linksImport">Upload Links</label>
              <input type="file" class="form-control-file" id="linksImport"
                (change)="onFileChange($event,uploadedLinks)">
            </div>
            <hr>
            <div *ngIf="!nodes.length" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>No service is found!</strong> Start uploading services now.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="form-group">
              <label for="servicesImport">Upload Services</label>
              <input type="file" class="form-control-file" id="servicesImport"
                (change)="onFileChange($event,uploadedServices)">
            </div>
          </div>
          <button type="submit" class="btn btn-success upload-btn">Upload</button>
        </form>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ network.networkName }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-toolbar btn-group mr-2">
            <div class="btn-group mr-2">
              <a routerLink="/update/{{network.id}}">
                <button type="button" class="btn btn-outline-secondary">Update</button>
              </a>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delete
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" (click)="deleteNodes(network.id)">Nodes</button>
                <button class="dropdown-item" type="button" (click)="deleteLinks(network.id)">Links</button>
                <button class="dropdown-item" type="button" (click)="deleteServices(network.id)">Services</button>
                <button class="dropdown-item" type="button" (click)="deleteNetwork(network.id)">Network</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="y-4 w-100 network-graph">
        <svg class="y-4 w-100" id="myChart"></svg>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 *ngIf="nodes.length>0 || links.length>0" class="h2">Network Details</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div *ngIf="nodes.length>0 || links.length>0" class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Export to XLSX
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button" (click)="exportexcel('nodes-table')">Nodes</button>
              <button *ngIf="links.length>0" class="dropdown-item" type="button"
                (click)="exportexcel('links-table')">Links</button>
            </div>
          </div>
        </div>
      </div>
      <h3 *ngIf="links.length>0">Links</h3>
      <div *ngIf="links.length>0" class="table-responsive">
        <table class="table table-striped table-sm" id="links-table">
          <thead>
            <tr>
              <th>link_id</th>
              <th>source_id</th>
              <th>source_name</th>
              <th>target_id</th>
              <th>target_name</th>
              <th>type</th>
              <th>capacity</th>
              <th>% utilization</th>
              <th>services count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let link of links">
              <td>{{ link.id }}</td>
              <td>{{ link.source.id }}</td>
              <td>{{ link.source.name }}</td>
              <td>{{ link.target.id }}</td>
              <td>{{ link.target.name }}</td>
              <td>{{ link.type }}</td>
              <td>{{ link.capacity }}</td>
              <td>{{ link.utilization/link.capacity | percent }}</td>
              <td>{{ link.services && link.services.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 *ngIf="nodes.length>0">Nodes</h3>
      <div *ngIf="nodes.length>0" class="table-responsive">
        <table class="table table-striped table-sm" id="nodes-table">
          <thead>
            <tr>
              <th>node_id</th>
              <th>name</th>
              <th>type</th>
              <th>number of services</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let node of nodes">
              <td>{{ node.id }}</td>
              <td>{{ node.name }}</td>
              <td>{{ node.isHoming }}</td>
              <td>{{ node.services.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>