<!-- HEADER -->
<div class="body-container">
<div class="main-container">
<app-nav-menu></app-nav-menu>

  <!-- MAIN CONTENT -->
  <main role="main">
      <router-outlet></router-outlet>
  </main>
</div>

<footer class="footer py-3">
  <div class="container">
    <p class="float-right"><a pageScroll href="#header">Back to top</a></p>
    <p>&copy; Copyright 2020 Transmission Network: Visualize Compute Change &middot; <a href="/about#change">Privacy</a> &middot; <a href="/about">Terms</a></p>
  </div>
</footer>
</div>